<!DOCTYPE html>
<html>
 <head>
    <title>Blome</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.min.js" integrity="sha512-b/htz6gIyFi3dwSoZ0Uv3cuv3Ony7EeKkacgrcVg8CMzu90n777qveu0PBcbZUA7TzyENGtU+qZRuFAkfqgyoQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js" crossorigin="anonymous"></script>
    <meta name="username" content="{{ username }}">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.png" />
</head>
<body style="background-color: cadetblue;">
    <h3 id="header" style="text-align: center; color: navy" class="noselect">Welcome to Blome</h3>
     
    <div style="text-align: center; position: relative;" id="p5jscanvas"></div>
    <br>
    <script src="/static/game.js"></script>
</body>
</html>
